name: Test

on:
  pull_request:
  push:
    branches:
      - master
      - releases/*

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          yarn

      - name: Clean, build, format, lint, package, and test
        run: |
          yarn all

      - name: Check if packaged properly
        run: |
          # If there are any unstaged or untracked files in 'dist/', then the action wasn't packaged properly
          if git diff --name-only | grep '^dist/' || git ls-files --other --exclude-standard | grep '^dist/'; then
            echo "You didn't package the action properly before pushing to remote." \
            echo "Always run 'yarn all' before staging a commit."
            echo "Below are the modified files in 'dist/' after running 'yarn && rm -rf dist/ && yarn all':"
            git diff --name-only | grep '^dist/'
            git ls-files --other --exclude-standard | grep '^dist/'
            exit 1
          fi

  simple_test:
    name: Simple test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run the action
        uses: ./
        with:
          appSlugFilter: github-actions

  commit_sha_test:
    name: Commit SHA test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Run the action
        uses: ./
        with:
          ref: cc8f5e113db0da7288e116d55cf10195407fd78f
          appSlugFilter: github-actions

  race_condition_test:
    name: Race condition test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Checkout race_condition_test branch
        uses: actions/checkout@v2
        with:
          ref: race_condition_test
          token: ${{ secrets.GITHUB_PAT }}
          path: race_condition_test

      - name: Make a commit to the race_condition_test branch
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
        run: |
          mkdir new_race_condition_test
          cd new_race_condition_test
          git init .
          git checkout --orphan race_condition_test
          mkdir -p .github/workflows
          cp ../race_condition_test/.github/workflows/race_condition_test.yml .github/workflows/
          echo $(date +%s) > trigger_workflow.txt
          git add .
          git config --global user.name "GitHub Actions"
          git config --global user.email "build@jitterbit.com"
          git commit -m "test: trigger race_condition_test workflow"
          git push --quiet --force "https://$GITHUB_PAT@github.com/${GITHUB_REPOSITORY}.git" race_condition_test

      - name: Wait for the commit's check suite(s) to complete
        id: await
        uses: ./
        with:
          ref: race_condition_test
          appSlugFilter: github-actions

      - name: Get conclusion of the commit's check suite(s)
        run: |
          echo "Conclusion: ${{ steps.await.outputs.conclusion }}"
